# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Variables & Local Development Settings
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*